VITE_API_URL=https://pimo-backend.onrender.com
VITE_INDUSTRIAL_URL=https://industrial.pimo.pro
VITE_INDUSTRIAL_DASHBOARD_URL=https://industrial.pimo.pro
VITE_INDUSTRIAL_API_URL=https://pimo-pro-industrial-api.onrender.com
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
